*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #acc2ae;
}

.contianer{
    width: 450px;
    padding: 35px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

.contianer h3{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 70px;
    margin-bottom: 8px;
    color: rgb(72, 89, 136);
}

.contianer input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(72, 89, 136);
    color: rgb(72, 89, 136);
    font-size:medium;
    outline: 0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.contianer button{
    width: 100%;
    height: 50px;
    background: rgba(59, 68, 95, 0.467);
    color: #fff;
    font-weight: bolder;
    font-size:medium;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
}

.contianer button:hover{
    background: rgb(72, 89, 136);
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid rgb(72, 89, 136);
}

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}